@charset "utf-8";
@import '~bulma';

// Universal Styling
.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.section {
  flex: 1;
}

h1 {
  text-align: center;
}

h3 {
  margin-bottom: 0.25em !important;
}

p {
  text-align: justify;
}

.footer {
  padding: 1rem 0.5rem 1rem;
}
